* {
    padding: 0;
    margin: 0;
}

body {
    background: #414336;
    font-family: Helvetica, sans-serif;
    margin: 0;
}

label {
    display: inline-block;
    margin: 0;
    padding: 10px 0 10px 10px;
    font-size: 20px;
}

.firstBatchError {
    margin-top: 10px;
}

.question {
    display: none;
}

.questions {
    margin-top: 10px;
    margin-bottom: 10px;
}

.teams {
    margin-left: auto;
    margin-right: auto;
}

.autoAssignTeams {
    float: left;
    margin-left: 10px;
}

.serious {
    margin-bottom: 10px;
    font-size: 17px !important;
    font-weight: bold;
}

.simpleTeam {
    width: 100px;
    height: 28px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.teamColorWrapper {
    display: none;
}

.team {
    float: left;
    width: 100px;
    height: 50px;
    margin-right: 5px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

.questions input {
    width: 130px;
}

.openEndedQuestion {
    position: relative;
}

.hideResult {
    cursor: pointer;
    background: url("../img/button-x.png") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 9px;
    top: 9px;
}

.xIcon {
    cursor: pointer;
    background: url("../img/button-x.png") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: -10px;
}

.upIcon {
    cursor: pointer;
    background: url("../img/arrow_up.png") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 40px;
    top: -10px;
}

.downIcon {
    cursor: pointer;
    background: url("../img/arrow_down.png") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: -10px;
}

.tablerow {
    width: 100%;
}

.liveResultsBatch {
    display: none;
}

.liveResultsTable {
    text-align: center;
    padding: 10px;
}

.tableTitle {
    font-weight: bold;
}

.column {
    text-align: center;
    float: left;
    width: 33%;
    font-size: 12px;
}

.titleBar {
    display: none;
    background: url("../img/titleBar.png") repeat-x;
    height: 45px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.loading {
    position: absolute;
    right: 0;
    background: url("../img/loading.gif") no-repeat center;
    width: 86px;
    height: 45px;
    z-index: 500;
    display: none;
}

.titleBarTitle {
    color: white;
    font-weight: bold;
    height: 45px;
    padding-top: 14px;
    position: relative;
    width: 100%;
}

.hidden {
    display: none;
}

.quizActivityError {
    margin-top: 8px;
}

.smallLogo {
    padding-top: 0 !important;
    background: url("../img/logo-small.png") no-repeat center;
}

.backButton {
    position: absolute;
    background: url("../img/back.png") no-repeat center;
    width: 86px;
    height: 45px;
    z-index: 500;
    cursor: pointer;
}

.backButtonData {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 15px;
    padding-left: 8px;
}

.mainWrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.bodyWrapper {
    float: left;
    width: 100%;
    display: none;
    padding-bottom: 10px;
}

.clear {
    clear: both;
}

.dataBox, .button, .voteLineBox, .dataBoxButton {
    padding: 10px 0;
    position: relative;
}

.subTitledButton {
    position: relative;
    padding-top: 2px;
    padding-bottom: 18px;
}

.dataTitle {
    float: left;
    padding-left: 10px;
    font-size: 20px;
}

.dataValue {
    float: right;
    margin-right: 10px;
    font-size: 18px;
}

.inputTitle {
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    color: #333333;
}

.inputSubTitle {
    font-size: 11px;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    color: #4D4D4D;
}

h1 {
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 0;
}

h2 {
    color: #FFFFFF;
    font-size: 12px;
}

.createQuizSubmit {
    margin-bottom: 10px;
}

.questionSubtitle {
    margin-bottom: 10px;
}

input.questionTitle {
    width: 134px;
}

.waitingTitle {
    font-size: 20px;
    margin-bottom: 15px;
}

.secondBatchError {
    margin-top: 10px;
}

.buttonSubTitle {
    bottom: 3px;
    color: #4D4D4D;
    font-size: 12px;
    left: 11px;
    position: absolute;
}

.input {
    background: none repeat scroll 0 0 transparent;
    border: none;
    display: inline-block;
    font-size: 18px;
}

.correctAnswer {
    float: left;
    margin-right: 10px;
}

.examOption {
    float: left;
    margin-right: 10px;
}

.answerTitleText {
    float: left;
    clear: right;
    font-size: 20px;
    margin-top: 12px;
}

.quizOptionText {
    line-height: 1.0;
    padding-top: 0;
}

.quizOptionTitle {
    font-size: 16px;
    color: #333333;
}

.quizOptionSubtitle {
    font-size: 11px;
    color: #4D4D4D;
    padding-left: 46px;
}

.radio {
    height: 26px;
    width: 26px;
    background: url('../img/radio.png') no-repeat;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    overflow: visible;
}

.checkedRadio {
    height: 26px;
    width: 26px;
    background: url('../img/radioSelected.png') no-repeat;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    overflow: visible;
}

.checkbox {
    height: 26px;
    width: 26px;
    background: url('../img/checkbox.png') no-repeat;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.checkedCheckbox {
    height: 26px;
    width: 26px;
    background: url('../img/checkboxSelected.png') no-repeat;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.tipLearnMore {
    text-decoration: underline;
    cursor: pointer;
    color: #68C5EF;
}

.link {
    text-decoration: underline;
    color: #0094A8;
    font-weight: bold;
    font-size: 14px;
}

.tipTitle {
    padding-left: 22px;
}

.bold {
    font-weight: bold;
}

.tip {
    padding-top: 2px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
    background: url('../img/tip.png') left top no-repeat;
}

.tipNoClick {
    padding-top: 2px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
    background: url('../img/tip.png') 0 0 no-repeat;
}

.loginTip {
    margin-top: 10px;
    padding-bottom: 10px;
}

.mainScreenTip {
    padding-bottom: 15px;
}

.bottomTip {
    padding-top: 15px;
}

.tipFullTextWrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    color: #000000;
}

.pTip {
    font-size: 14px;
    margin-bottom: 0.75em;
    line-height: 1.0;
}

.closeTip {
    margin-top: 10px;
}

.tipFullText {
    padding-left: 10px;
    padding-right: 10px;
}

.tipFull {
    display: none;
}

#templates {
    display: none;
}

.success {
    background: #9BBB59 !important;
}

.waiting, .studentMatching {
    padding-top: 10px;
    padding-bottom: 10px;
}

.examName {
    width: 150px;
}

.logo {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.studentLogo {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tourPicture {
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.normalTourText {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

.forgotPassword {
    margin-top: 15px;
}

.href {
    display: inline-block;
    font-size: 16px;
    color: #939393;
    text-decoration: underline;
    cursor: pointer;
}

.inputBatch {
    background: #A1A1A1;
    width: 100%;
    padding: 2px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position: relative;
}

.inputWrapper, .button, .dataBoxButton, .subTitledButton {
    /* background: url("../img/buttonBg.png") repeat-x; */
    background-color: #FFFFFF;
    margin-bottom: 2px;
}

.dataBox {
    background: #FFFFFF;

    /*
    background-color: #F3FAFE;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#F3FAFE), to(#DBF0FE));
    background: -webkit-radial-gradient(circle, #F3FAFE, #DBF0FE);
    background: -moz-radial-gradient(circle, #F3FAFE, #DBF0FE);
    background: -ms-radial-gradient(circle, #F3FAFE, #DBF0FE);
    */
}

.noscriptDiv {
    border: 1px solid red;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 9999;
    width: 100%;
    text-align: center;
}

.voteLineBox {
    text-align: left;
    padding-left: 10px;
}

.ignoreAnswer {
    background: #CCCCCC;
    color: #AAAAAA;
}

.onlyItem {
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 0 !important
}

.firstItem {
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.lastItem {
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.lastItem {
    margin-bottom: 0 !important;
}

.button, .subTitledButton {
    cursor: pointer;
}

.quizSelect, .previousQuizSelect {
    height: 30px;
    position: absolute;
    top: 8px;
    width: 90%;
    font-size: 20px;
}

.roleSelect {
    height: 30px;
    width: 95%;
    font-size: 20px;
    position: relative;
    margin: 5px 0 5px 10px;
}

.popup {
    border: 5px solid #444444;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #333333;
    color: #BBBBBB;
    left: 50%;
    top: 20%;
    position: fixed;
    z-index: 510;
    display: none;
}

.popupXButton {
    background: url("../img/x.png") no-repeat scroll 0 0 transparent;
    height: 29px;
    position: absolute;
    right: -14px;
    top: -13px;
    width: 25px;
    cursor: pointer;
}

.confirmButtons {
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 35px;
}

.confirmButtonRow {
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.stepBody {
    color: white;
}

.trainingTourTemplate {
    margin-bottom: 20px;
}

.bottomDashboard {
    position: relative;
    top: 10px;
    left: 0;
    width: 100%;
}

.trainingBackButtonWrapper, .trainingNextButtonWrapper, .trainingCircles {
    float: left;
}

.trainingBackButton, .trainingNextButton {
    font-size: 13px !important;
}

.trainingNextButtonWrapper {
    margin-left: 7px;
}

.trainingCircles {
    margin-top: 5px;
}

.trainingCircles .radio, .trainingCircles .checkedRadio {
    float: left;
    margin-left: 7px;
}

.trainingBackButton, .trainingNextButton {
    width: 50px !important;

}

.confirmTitle {
    font-size: 18px;
}

.bottomDashboardWrapper {
    width: 279px;
    margin-left: auto;
    margin-right: auto;
}

.confirmButton {
    cursor: pointer;
    background: #0094A8;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100px;
    text-align: center;
    float: left;
    margin-right: 10px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.confirmExamButton {
    cursor: pointer;
    background: #0094A8;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 123px;
    text-align: center;
    float: left;
    margin-right: 10px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.popupContent {
    padding: 12px;
}

.overlay {
    background: url("../img/overlay.png") repeat scroll 0 0 transparent;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    display: none;
}

.numberOfTeamsSelectWrapper {
    height: 30px;
    position: relative;
}

.numberOfTeams {
    font-size: 20px;
    height: 28px;
    right: -75px;
    width: 70px;
    position: absolute;
    top: -1px;
}

.feedbackText {
    width: 100%;
    height: 120px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #717171;
}

.quizSelectWrapper, .importQuizFileWrapper, .previousQuizSelectWrapper {
    background: none !important;
}

.preSubmitText {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}

.shortAnswerTitle {
    margin-bottom: 8px;
}

.buttonTitle {
    font-size: 20px;
    height: 25px;
    padding-left: 10px;
    background: url("../img/arrow.png") no-repeat right center;
    text-decoration: none;
}

.subTitledButtonTitle {
    font-size: 20px;
    height: 25px;
    padding-left: 10px;
    background: url("../img/arrow.png") no-repeat right 12px;
}

.shortAnswerTextArea {
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #A1A1A1;
    height: 121px;
    width: 100%;
    font-size: 16px;
}

.loginForm {
    position: relative;
}

.error {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    display: none;
    font-size: 18px;
    background: #C0504D;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 2px;
    margin-bottom: 3px;
}

.waitingForTeacherBatch, .studentMatchingBatch {
    margin-bottom: 7px;
}

.graphBatch, .tipBatch {
    margin-top: 10px;
}

.textTitle {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.textSecondTitle {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.spaceRaceDetailsBatch {
    margin-bottom: 10px
}

.voteLineSeperator {
    border-bottom: 2px solid #A1A1A1;
    width: 100%;
}

.endSessionSubmit {
    margin-top: 10px;
}

.simpleTeamName {
    font-size: 20px;
    text-align: center;
    padding-top: 2px;
}

.joinTeamName {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.teamName {
    width: 80px;
    font-size: 20px;
    height: 30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
    padding-left: 10px;
}

.rocketProgress {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    height: 33px;
    width: 100%;
    text-align: right;
}

.teamNameTd {
    width: 80px;
    padding-right: 10px;
}

.waitingForInput {
    font-size: 18px;
    margin-bottom: 10px;
}

.spaceRaceResult {
    position: relative;
    margin-bottom: 15px;
}

.openEndedData, .waitingForTeacherData, .liveResultsData {
    background: #ffffff;
    width: 100%;
    text-align: center;
}

.studentMatchingData {
    background: #ffffff;
    padding-left: 10px;

}

.spaceRaceData {
    background: #ffffff;

    padding: 24px 10px 10px 10px;
}

.weHateSpamToo {
    padding-bottom: 10px;
}

.graph {
    background: #ffffff;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.importQuizDataBox {
    background: #ffffff;
    text-align: left;
    padding: 10px;
}

.importQuizBatch {
    margin-bottom: 10px;
}

.loginError {
}

.loginSubmit {
    margin-top: 20px;
}

.inputEmail {
    width: 160px;
}

.roomId {
    width: 100px;
}

.forgotPasswordSubmit, .registerSubmit, .registerFormSubmit {
    margin-top: 10px;
}

.inputPassword {
    width: 140px;
}

.voteOnSubmissionsSubmit {
    margin-top: 20px !important;
}

.submit {
    background-color: #0094A8;
    white-space: normal;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.answerNumberOfVotes {
    display: table-cell;
    width: 100px;
    padding-right: 10px;
    font-size: 14px;
}

.answerTitle {
    display: table-cell;
    width: 100%;
    text-align: left;
    font-size: 14px;

}

#excelVersions {
    padding-left: 25px;
    margin-bottom: 7px;
}

.excelVersion {
    font-size: 12px;
    padding-left: 0;
}

a#downloadLink:link {
    color: #000000;
    text-decoration: none;
}

a#downloadLink:visited {
    color: #000000;
}

.openActivityTemplate {
    overflow: auto;
}

.openActivityStatement {
    margin-bottom: 20px;
}

.quizOptionLine {
    overflow: auto;
}

.legalNotice {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #888888;
    margin-top: 6px;
}

.legalNotice a:link {
    color: #888888;
    font-weight: bold;
    text-decoration: none;
}

.legalNotice a:hover {
    text-decoration: underline;
}

.legalNotice a:visited {
    color: #888888;
}

.shareLine {
    width: 150px;
    padding-top: 5px;
    padding-bottom: 3px;
    float: left;
    margin: 0 0 5px 0;
}

.shareRight {
    padding-left: 110px;
    padding-top: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.shareMainText {
    font-size: 16px;
}

.shareSubText {
    font-size: 12px;
}

.shareBox {
    float: left;
    margin-right: 10px;
}

.importSharedMain {
    width: 100%;
}

.importSharedHeader {
    width: 100%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

.importSharedText {
    width: 100%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}

.socNumberInput {
    width: 100%;
    border: 0;
    font-size: 18px;
    text-align: center;
    background: none repeat scroll 0 0 transparent;
    font-size: 18px;
}

.socNumberEx {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.shareTitle {
    font-size: 20px;
    padding-left: 10px;
}

.shareSubTitle {
    font-size: 14px;
    padding-left: 10px;
    margin-top: 2px;
}

.enableSharing {
    font-size: 20px;
}

.socBox {
    width: 225px;
    border: 5px solid #0094A8;
    border-radius: 5px;
    margin: 0 10px;
    float: left;
    padding: 3px 3px 1px 3px;
    font-size: 18px;
    line-height: 1.0;
    text-align: center;
}

.shared {
    color: #00CC33;
}

.notShared {
    color: #FF0000;
}

.whiteCenterLink {
    margin-top: 8px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.whiteCenterLink a:link {
    text-decoration: none;
    color: #FFFFFF;
}

.whiteCenterLink a:visited {
    color: #FFFFFF;
}

.whiteCenterLink a:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.firstTimeOnly {
    display: none;
}

ol.tipList, ul.tipList {
    margin: 10px 0 10px 25px;
}

.placeholder{
    color: #AAAAAA;
}

.explanationSpan {
    margin: 0 0 0 10px;
}

.legalParagraph {
    font-size: 12px;
    color: #FFFFFF;
    margin: 10px 0 0 0;
}

.legalSubtitle {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 10px 0 0 0;
}

.quizExplanation {
    margin-top: 10px;
}

.navHeading {
    padding: 10px 0 5px 0;
}

.edmodoGroupDropdown {
    width: 100%;
}

.edmodoGroup {
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

#tooltip {
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

#tooltip:after /* triangle decoration */ {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
}

#tooltip.left:after {
    left: 10px;
    margin: 0;
}

#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}

.addImage {
	font-size: 12px;
	font-weight: bold;
	color: #348094;
	text-decoration: none;
	cursor: pointer;
	margin-left: 10px;
}

.addImageBlock {
	padding: 10px;
}

.showImageBlock {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

.showAddImage {
	width: 100%;
	margin-top: -10px;
	padding-bottom: 3px;
}

.loadingImageBlock {
	width: 100%;
	text-align: center;
}

.removeImageBlock {
	width: 100%;
	text-align: center;
	color: #348094;
	font-size: 18px;
	font-weight: bold;
}

.removeImage {
	cursor: pointer;
}

.questionImage {
	width: 400px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	overflow: hidden;
	border-radius: 10px 10px 10px 10px;
}

.displayQuestion {
	width: 100%;
	text-align: left;
}