
br
.container-fluid
  form.well.form-horizontal#LoginForm method='post' action='https://intrawww.ing.puc.cl/siding/index.phtml' name='LoginForm' target='home_iframe'
    fieldset
      legend.center Sidin pls
      .row-fluid
        input.input-block-level#login  type='text'     name='login'  placeholder='usr'  autofocus='autofocus'
      .row-fluid
        input.input-block-level#passwd type='password' name='passwd' placeholder='pwd'
      .row-fluid
        .form-actions.pull-right
          input.btn.btn-primary#sidinPls type='submit' value='Sidin pls'
      .row-fluid
          input type='hidden' name='sw'
          input type='hidden' name='sh'
          input type='hidden' name='cd'


iframe name='home_iframe' src="about:blank" style='display:none;'




