doctype html
html
  head
    meta charset='utf-8'
    title Siding pls
    meta name='viewport' content='width=device-width, height=device-height, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'

    script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js'
    /script src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js'
    link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css' rel='stylesheet' media='screen'
    /link href='bootstrap-combined.no-icons.min.css' rel='stylesheet' media='screen'

    == stylesheet_link_tag    'application', 'data-turbolinks-track' => true, media: 'all'
    == javascript_include_tag 'application', 'data-turbolinks-track' => true
    == csrf_meta_tags
  body
    /!
      Src @
      https://bitbucket.org/Dietr1ch/siding-pls
      =)
      --

    == yield

    /javascript:
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41558429-1', 'herokuapp.com');
      ga('send', 'pageview');
